version: "3.8"

services:
    nginx:
        image: nginx:1.15-alpine
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./data/nginx:/etc/nginx/conf.d
            - ./data/certbot/conf:/etc/letsencrypt
            - ./data/certbot/www:/var/www/certbot
    certbot:
        image: certbot/certbot
        volumes:
            - ./data/certbot/conf:/etc/letsencrypt
            - ./data/certbot/www:/var/www/certbot
    db:
        command: ["postgres", "-c", "log_statement=all"]
        image: postgres:15
        volumes:
            - db-data:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=app
            - POSTGRES_PASSWORD=app
            - POSTGRES_HOST_AUTH_METHOD=trust
    directus:
        image: directus/directus:latest
        ports:
            - 8055:8055
        volumes:
            - uploads:/directus/uploads
        env_file:
            - directus.env
        environment:
            WEBSOCKETS_ENABLED: true
            DB_CLIENT: "pg"
            DB_CONNECTION_STRING: postgres://app:app@db:5432/app?sslmode\=disable

volumes:
    db-data:
        driver: local
    uploads:
        driver: local
